
<div id="out" style="width:100%; border:1px solid #ccc; padding:10px 10px 30px 10px;">
<%= render 'form' %>

 <div class="field" style=" float:left; margin-top:-14px; margin-left:30px;">
<%= link_to 'Voltar', clients_path, :class => "btn btn-danger", :style => "background:red;"  %>
</div>
</div>