<h2>Arquivos de Remessa</h2>
<hr />

<br />

<p> Clique abaixo para gerar o arquivo de remessa para o Sicredi: </p>
<p style="color:red;"><span style="color:black;">Obs:</span> Selecionar o intervalo de datas para importação.</p>
<%= link_to 'Gerar Arquivo', {:controller => 'lote', :action => 'generate'} , :class => 'btn btn-primary' %>
<hr />


<h5>Boletos</h5>


<br />
<hr />


<br />